<!DOCTYPE html>
<html lang="en">
	<header>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<block name="title"><title>MyShop V0.1</title></block>
		
		<!-- Bootstrap -->
    	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    	<link href="__PUBLIC__/css/bootstrap-theme.min.css" rel="stylesheet">
    	
    	<block name="extCSS"></block>
    	
    	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
    	
    	<block name="extJS"></block>
	</header>
	<body>
		<!-- Fixed navbar -->
	    <div class="navbar navbar-inverse navbar-fixed-top " role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/index.php">Changuan Hardware Factory</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">首页</a></li>
	            <li><a href="#about">公司简介</a></li>
	            <li><a href="#about">公司风采</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">产品展示 <b class="caret"></b></a>
	                {:W('Category/Hmenu')}
	            </li>
	            <li><a href="#contact">联系我们</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
		
		<block name="content">
		</block>
		
		<block name="footer">
			<div class="container">
				<p>Footer</p>
			</div>
		</block>
	</body>
</html>