<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<block name="title"><title>{:L('MENUWEBSITENAME')}</title></block>
		
		<!-- Bootstrap -->
    	<link href="__PUBLIC__/css/bootstrap.min.css" rel="stylesheet">
    	<link href="__PUBLIC__/css/bootstrap-theme.min.css" rel="stylesheet">
    	<link href="__PUBLIC__/css/offcanvas.css" rel="stylesheet">
    	
    	<block name="extCSS"></block>
    	
    	<script src="__PUBLIC__/js/jquery-1.11.1.min.js"></script>
    	<script src="__PUBLIC__/js/bootstrap.min.js"></script>
    	
    	<block name="extJS"></block>
	</head>
	<body>
		<!-- Fixed navbar -->
	    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
	      <div class="container">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="/index.php">{:L('MENUWEBSITENAME')}</a>
	        </div>
	        <div class="navbar-collapse collapse">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="{:U('Index/index')}">{:L('MENUHOME')}</a></li>
	            <li><a href="{:U('Index/page',array('name'=>'INTRODUCE'))}">{:L('MENUINTRODUCE')}</a></li>
	            <li><a href="{:U('Index/page',array('name'=>'ABOUTUS'))}">{:L('MENUABOUTUS')}</a></li>
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{:L('MENUPRODUCT')}<b class="caret"></b></a>
	                {:W('Category/Hmenu')}
	            </li>
	            <li><a href="{:U('Index/page',array('name'=>'CONTACT'))}">{:L('MENUCONTACT')}</a></li>
	          </ul>
	          <ul class="nav navbar-nav navbar-right">
	            <li class="dropdown">
	              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{:L('MENULANGUAGE')}<b class="caret"></b></a>
	                <ul class="dropdown-menu">
					    <li><a href="?{:C('VAR_LANGUAGE',null,'l')}=zh-cn">简体中文</a></li>
					    <li><a href="?{:C('VAR_LANGUAGE',null,'l')}=en-us">English</a></li>
					</ul>
	            </li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
	    </div>
		
		<block name="content">
		</block>
		
		<block name="footer">
			<div class="container">
				<p>Footer</p>
			</div>
		</block>
	</body>
</html>