<extend name="Public:base" />

<block name="extJS">
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    
    function toDel(id){
        
    }
    </script>
</block>


<block name="content">
<h1 class="page-header">{:L('PRODUCTST')}</h1><a href='{:U("Category/Add")}' class="btn btn-lg btn-primary active" role="button">{:L('ACTIONADD')}</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>{:L('PRODUCTNAME')}</th>
              <th>{:L('CATEGORYNAME')}</th>
              <th>{:L('ACTION')}</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="ps" item="p" >
                <tr>
                    <td>{$p.id}</td>
                    <td>{$p.name}</td>
                    <td></td>
                    <td>
                        <a href='{:U("Category/Update?id=$c[id]")}' class="btn btn-primary active" role="button">{:L('ACTIONUPDATE')}</a>
                        <button type="button" class="btn btn-danger active" onclick="toDel({$p.id})">{:L('ACTIONDEL')}</button>
                    </td>
                </tr>
                
            </foreach >
        </tbody>
    </table>
</div>
</block>