<extend name="Public:base" />

<block name="extJS">
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    
    function toDel(id){
        if(window.confirm('{:L("MSGDELALERT")}')){
            window.location.href = '{:U("Product/del",NULL,'')}' + '/' + id;
        }
    }
    </script>
</block>


<block name="content">
<h1 class="page-header">{:L('PRODUCTST')}</h1><a href='{:U("Product/Add")}' class="btn btn-lg btn-primary active" role="button">{:L('ACTIONADD')}</a>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>#</th>
              <th>{:L('PRODUCTENNAME')}</th>
              <th>{:L('PRODUCTCNNAME')}</th>
              <th>{:L('CATEGORYENNAME')}</th>
              <th>{:L('CATEGORYCNNAME')}</th>
              <th>{:L('UPDATETIME')}</th>
              <th>{:L('ACTION')}</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="ps" item="p" >
                <tr>
                    <td>{$p.id}</td>
                    <td>{$p.en_name}</td>
                    <td>{$p.cn_name}</td>
                    <td></td>
                    <td></td>
                    <td>{$c.update_time}</td>
                    <td>
                        <a href='{:U("Product/Update",array("id" => $p["id"]))}' class="btn btn-primary active" role="button">{:L('ACTIONUPDATE')}</a>
                        <button type="button" class="btn btn-danger active" onclick="toDel({$p.id})">{:L('ACTIONDEL')}</button>
                    </td>
                </tr>
                
            </foreach >
        </tbody>
    </table>
</div>
</block>