<extend name="Public:base" />

<block name="extJS">
    <script type="text/javascript">
    $(document).ready(function(){
        
    });
    
    function toDel(id){
        if(window.confirm('{:L("MSGDELALERT")}')){
            window.location.href = '{:U("Product/del",NULL,'')}' + '/' + id;
        }
    }
    </script>
</block>


<block name="content">
<h1 class="page-header">{:L('PRODUCTST')}</h1><!-- <a href='{:U("Product/Add")}' class="btn btn-lg btn-primary active" role="button">{:L('ACTIONADD')}</a> -->
<form class="form-inline" role="form" method="POST" action="{:U('Product/Index')}">
    <div class="form-group">
        <label>{:L('CATEGORYNAME')}</label>
        <select name="category_id" class="form-control">
              <option value=""></option>
              <foreach name="cs" item="c" >
                <if condition="$c['id'] eq $cid ">
                    <option value="{$c['id']}" selected="selected"><?php echo ML( $c['en_name'],$c['cn_name'] )?></option>
                <else/>
                    <option value="{$c['id']}"><?php echo ML( $c['en_name'],$c['cn_name'] )?></option>
                </if>
              </foreach>
          </select>
      </div>
      <button type="submit" class="btn btn-default">{:L('BTNSUBMIT')}</button>
      <a href={:U("Product/Add")} class="btn btn-primary active" role="button">{:L('ACTIONADD')}</a>
</form>
<br />
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
              <th>{:L('PRODUCTENNAME')}</th>
              <th>{:L('PRODUCTCNNAME')}</th>
              <th>{:L('CATEGORYENNAME')}</th>
              <th>{:L('CATEGORYCNNAME')}</th>
              <th>{:L('UPDATETIME')}</th>
              <th>{:L('ACTION')}</th>
            </tr>
        </thead>
        <tbody>
            <foreach name="ps" item="p" >
                <tr>
                    <td>{$p.en_name}</td>
                    <td>{$p.cn_name}</td>
                    <td>{$p.cen_name}</td>
                    <td>{$p.ccn_name}</td>
                    <td>{$c.update_time}</td>
                    <td>
                        <a href='{:U("Product/Update",array("id" => $p["id"]))}' class="btn btn-primary active" role="button">{:L('ACTIONUPDATE')}</a>
                        <button type="button" class="btn btn-danger active" onclick="toDel({$p.id})">{:L('ACTIONDEL')}</button>
                    </td>
                </tr>
                
            </foreach >
        </tbody>
    </table>
</div>

<div class="pull-right">{$page}</div>
</block>