<extend name="Public:base" />

<block name="extJS">
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor-4.1.10/kindeditor.js"></script>
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor-4.1.10/lang/zh_CN.js"></script>
	<script charset="utf-8" src="__PUBLIC__/js/kindeditor-4.1.10/plugins/code/prettify.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        KindEditor.ready(function(K) {
			var editor1 = K.create('.desc', {
				cssPath : '__PUBLIC__/js/kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : '{:U("Index/ajax_upload")}',
				fileManagerJson : '__PUBLIC__/js/kindeditor-4.1.10/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						var content=$('.ke-edit-iframe').contents().find('body');
						
						if(content.html()=='<br>'){
							alert("{:L('MSGCONTENTBLANK')}");
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					K.ctrl(self.edit.doc, 13, function() {
						var content=$('.ke-edit-iframe').contents().find('body');
						
						if(content.html()=='<br>'){
							alert("{:L('MSGCONTENTBLANK')}");
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
					
					$('#aboutus_send_btn').click(function(){
						var content=$('.ke-edit-iframe').contents().find('body');
						
						if(content.html()=='<br>'){
							alert("{:L('MSGCONTENTBLANK')}");
							content.focus();
							return;
						}
						self.sync();
						K('form[name=form1]')[0].submit();
					});
				}
			});
			
			prettyPrint();
		});
    });
    
    function toDel(id){
        
    }
    </script>
</block>


<block name="content">
<h1 class="page-header">{:L('PRODUCTST')}</h1>
    <form class="form-horizontal" role="form" action='{:U("Product/save_update")}' method="POST"  enctype="multipart/form-data">
          <input type="hidden" name="id" value="{$p['id']}">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('PRODUCTENNAME')}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="en_name" name="en_name" placeholder="{:L('PRODUCTENNAME')}" value="{$p['en_name']}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('PRODUCTCNNAME')}</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="cn_name" name="cn_name" placeholder="{:L('PRODUCTCNNAME')}" value="{$p['cn_name']}">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('CATEGORYNAME')}</label>
            <div class="col-sm-10">
              <select name="category_id" id="category_id" class="form-control">
                  <foreach name="cs" item="c">
                      <if condition="$c['id'] eq $p['category_id'] ">
                        <option value="{$c.id}" selected="selected">{$c.cn_name} ( {$c.en_name} )</option>
                      <else />
                        <option value="{$c.id}">{$c.cn_name} ( {$c.en_name} )</option>
                      </if>
                  </foreach>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('PRODUCTENDESC')}</label>
            <div class="col-sm-10">
                <textarea class="form-control desc" rows="10" id="en_desc" name="en_desc">{$p['en_desc']}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('PRODUCTCNDESC')}</label>
            <div class="col-sm-10">
                <textarea class="form-control desc" rows="10" id="cn_desc" name="cn_desc">{$p['cn_desc']}</textarea>
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">{:L('PRODUCTDIMG')}</label>
            <div class="col-sm-10">
              <input type="file" class="form-control" id="img" name="img">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                   <button type="submit" class="btn btn-primary">{:L('BTNSUBMIT')}</button>
                   <button type="button" class="btn btn-default">{:L('BTNCANCEL')}</button>
            </div>
          </div>
    </form>
</block>